<!DOCTYPE html>
<html>
<head>
    <title>Kisa</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main_wrapper">
        <div class="login_window">
            <div class="welcome_message">Привет!<br>Вводи скорее логин и поехали!</div>
            <input class="login_field" type="text">
            <a href="#" class="submit_button">Поехали!</a>
        </div>
        <div class="up">
        </div>
    </main>
</body>
</html>